{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "bond_list" %}

{% block title %}社債原簿基本情報登録 - {% endblock %}
{% block page_header %}社債原簿基本情報登録{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
<li><a href="{{ url_for('index.index') }}">トップ</a></li>
<li class="active">社債原簿基本情報登録</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">基本情報</h3>
        </div>
        <form class="form-horizontal" method="POST" role="form"
              action="{{ url_for('bond.corporate_bond_ledger_template', token_address=form.token_address.data) }}">
            {{ form.csrf_token }}
            {{ form.token_address }}
            <div class="box-body">
                <!-- 社債の情報 -->
                <br>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h4><i class="fa fa-fw fa-building-o"></i> 社債の情報</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.bond_name.label }}
                        {{ form.bond_name(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.bond_description.label }}
                        {{ form.bond_description(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.bond_type.label }}
                        {{ form.bond_type(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        {{ form.total_amount.label }}
                        {{ form.total_amount(class="form-control comma-separate") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        {{ form.face_value.label }}
                        {{ form.face_value(class="form-control comma-separate") }}
                    </div>
                </div>
                <!-- 払込情報 -->
                <br>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h4><i class="fa fa-fw fa-jpy"></i> 払込情報</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-6">
                        {{ form.payment_amount.label }}
                        {{ form.payment_amount(class="form-control comma-separate") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {{ form.payment_date.label }}
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.payment_date(class="form-control", id="datepicker", autocomplete="off",
                            data_toggle="tooltip", data_container="body", data_placement="right",
                            placeholder="YYYYMMDD")}}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-3">
                        {{ form.payment_status.label }}
                        {{ form.payment_status(class="form-control") }}
                    </div>
                </div>
                <!-- 社債原簿管理人 -->
                <br>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        <h4><i class="fa fa-fw fa-file-text-o"></i> 社債原簿管理人</h4>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.ledger_admin_name.label }}
                        {{ form.ledger_admin_name(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.ledger_admin_address.label }}
                        {{ form.ledger_admin_address(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-1"></div>
                    <div class="col-md-8">
                        {{ form.ledger_admin_location.label }}
                        {{ form.ledger_admin_location(class="form-control") }}
                    </div>
                </div>
            </div>
            <br>
            <div class="box-footer">
                <button type="button" class="btn btn-default" style="width: 100px"
                        onclick="location.href='{{ url_for('bond.setting', token_address=form.token_address.data) }}'">
                    戻る
                </button>
                <button type="submit" class="btn btn-success" style="width: 100px" id="load"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">登録
                </button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript"
        src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $.fn.datepicker.dates['ja'] = {
        days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
        daysShort: ["日", "月", "火", "水", "木", "金", "土"],
        daysMin: ["日", "月", "火", "水", "木", "金", "土"],
        months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        today: "今日",
        clear: "Clear",
        format: "yyyy/mm/dd",
        titleFormat: "yyyy年 MM",
        weekStart: 0
    };

    //Date picker
    $('[id="datepicker"]').datepicker({
        language: 'ja',
        format: 'yyyymmdd',
        todayHighlight: true,
        autoclose: true,
        orientation: "bottom right",
        todayBtn: true,
        forceParse: false
    });
    function separateByComma(num) {
        if (!/^[1-9]\d*(\.\d*)?$/.test(num)) {
            return num;
        }
        var split = num.split(".");
        var intPart = split[0].replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        if (split.length === 2) {
          return intPart + "." + split[1];
        } else {
          return intPart;
        }
    }
    $(function () {
        // 数値項目3桁区切り考慮
        $('.comma-separate').each(function (index, element) {
            // 初期表示
            $(element).val(separateByComma($(element).val()));
            // フォーカスアウト
            $(element).on('blur', function () {
                $(this).val(separateByComma($(this).val()));
            });
            // フォーカス
            $(element).on('focus', function () {
                var num = $(this).val();
                num = num.replace(/,/g, '');
                $(this).val(num);
            });
        });
        $('form').submit(function () {
            $('.comma-separate').each(function (index, element) {
            var num = $(element).val();
            num = num.replace(/,/g, '');
            $(element).val(num);
        });
    })
});
</script>
<script type="text/javascript">
    $('#load.btn').on('click', function() {
        var $this = $(this);
        $this.button('loading');
        setTimeout(function() {
            $this.button('reset');
        }, 8000);
    });
</script>
{% endblock %}
