{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "bond_issue" %}

{% block title %}債券新規発行 - {% endblock %}
{% block page_header %}債券新規発行 <span class="badge bg-secondary">債券</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規発行</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('bond.issue') }}">
            {{ form.csrf_token }}
            <div class="box-header">
              <h3 class="box-title">発行条件</h3>
            </div>
            <div class="box-body">
                <p><small>* 変更不可項目</small></p>
                <div class="form-group">
                    {{ form.name.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.name(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：ibet社債", title=form_description['name'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.symbol(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：IBD", title=form_description['symbol'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.totalSupply.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.totalSupply(class="form-control comma-separate", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：100,000", title=form_description['totalSupply'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.faceValue.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.faceValue(class="form-control comma-separate", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：100,000", title=form_description['faceValue'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestRate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestRate(class="form-control comma-separate", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：0.5", title=form_description['interestRate'] )}}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.interestPaymentDate1.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate1(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-default" onclick="addPayDate()"><i class="fa fa-plus-circle"></i> 利払日追加</button>
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate2" style="display: none;">
                    {{ form.interestPaymentDate2.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate2(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate3" style="display: none;">
                    {{ form.interestPaymentDate3.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate3(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate4" style="display: none;">
                    {{ form.interestPaymentDate4.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate4(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate5" style="display: none;">
                    {{ form.interestPaymentDate5.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.interestPaymentDate5(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate6" style="display: none;">
                    {{ form.interestPaymentDate6.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate6(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate7" style="display: none;">
                    {{ form.interestPaymentDate7.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate7(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate8" style="display: none;">
                    {{ form.interestPaymentDate8.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate8(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate9" style="display: none;">
                    {{ form.interestPaymentDate9.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.interestPaymentDate9(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate10" style="display: none;">
                    {{ form.interestPaymentDate10.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.interestPaymentDate10(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate11" style="display: none;">
                    {{ form.interestPaymentDate11.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.interestPaymentDate11(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）",title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>
                <div class="form-group" id="divInterestPaymentDate12" style="display: none;">
                    {{ form.interestPaymentDate12.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.interestPaymentDate12(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="MMDD（例：3/31 → 0331）", title=form_description['interestPaymentDate'] )}}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.redemptionDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.redemptionDate(class="form-control",id="datepicker", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="YYYYMMDD（例：2022/3/31 → 20220331）", title=form_description['redemptionDate'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.redemptionValue.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.redemptionValue(class="form-control comma-separate", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：100,000", title=form_description['redemptionValue'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.returnDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                            {{ form.returnDate(class="form-control",id="datepicker", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="YYYYMMDD（例：2022/3/31 → 20220331）", title=form_description['returnDate'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.returnDetails.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.returnDetails(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：この社債を持っていると、ibetの特定のサービスを受けることができます。", title=form_description['returnDetails'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.purpose.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.purpose(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：新規プロジェクト実行資金", title=form_description['purpose'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.memo.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.memo(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['memo'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_1(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image.png", title=form_description['image_1'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_2(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image_1.png", title=form_description['image_2'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_3(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image_2.png", title=form_description['image_3'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.contact_information.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.contact_information(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['contact_information'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.privacy_policy.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.privacy_policy(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['privacy_policy'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.tradableExchange.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.tradableExchange(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：0x123456789A123456789B123456789C123456789D", title=form_description['tradableExchange'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.personalInfoAddress.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                            {{ form.personalInfoAddress(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="（必須）例：0x123456789A123456789B123456789C123456789D", title=form_description['personalInfoAddress'] )}}
                    </div>
                </div>
          </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("bond.list") }}'">キャンセル</button>
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">新規発行</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript" src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
  $.fn.datepicker.dates['ja'] = {
      days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
      daysShort: ["日", "月", "火", "水", "木", "金", "土"],
      daysMin: ["日", "月", "火", "水", "木", "金", "土"],
      months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      today: "今日",
      clear: "Clear",
      format: "yyyy/mm/dd",
      titleFormat: "yyyy年 MM",
      weekStart: 0
  };
  //Date picker
  $('[id="datepicker"]').datepicker({
      language: 'ja',
      format: 'yyyymmdd',
      todayHighlight: true,
      autoclose: true,
      orientation: "bottom right",
      todayBtn: true,
      forceParse: false
  });
  var pay_date_count = 2;
  function addPayDate() {
    if(pay_date_count <= 12) {
        $('#divInterestPaymentDate' + pay_date_count).show();
        pay_date_count++;
    } else {
        new Noty({
            type: 'error',
            layout: 'topCenter',
            text: '利払日は12ヶ月分まで登録できます。',
            theme: 'bootstrap-v3',
            timeout: 3000,
        }).show();
    }
  }
    // 利払日 初期表示
    $(function(){
        count = 1;
        for(var i = 2; i <= 12; i++) {
            if($('#interestPaymentDate' + i).val() != "") {
                count = i;
            }
        }
        for(var i = 2; i <= count; i++) {
            addPayDate();
        }
    });
  $(function () {
    // 数値項目3桁区切り考慮
    $('.comma-separate').each(function (index, element) {
      var num = $(element).val();
      if (!isNaN(num) && num >= 1) {
        num = num.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
      }
      $(element).val(num);
      // フォーカスアウト
      $(element).on('blur', function () {
        var num = $(this).val();
        if (!isNaN(num) && num >= 1) {
          num = num.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        }
        $(this).val(num);
      });
      // フォーカス
      $(element).on('focus', function () {
        var num = $(this).val();
        num = num.replace(/,/g, '');
        $(this).val(num);
      });
    });
    $('form').submit(function () {
      $('.comma-separate').each(function (index, element) {
        var num = $(element).val();
        num = num.replace(/,/g, '');
        $(element).val(num);
      });
    })
  });
</script>
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
