{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "bond_position" %}

{% block title %}債券新規売出 - {% endblock %}
{% block page_header %}新規売出 <span class="badge bg-secondary">債券</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規売出</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">{{ token_name }} <small>{{ token_address }}</small></h3>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('bond.sell', token_address=form.token_address.data) }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <br>
                <div class="form-group">
                    {{ form.sellPrice.label(class="col-md-3 control-label") }}
                    <div class="col-md-3">
                        {{ form.sellPrice(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for("bond.positions") }}'">キャンセル</button>
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">売出開始</button>
            </div>
        </form>
    </div>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">債券詳細</h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.name.label }}</td><td style="word-break : break-all" class="col-md-2" >{{ form.name.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.symbol.label }}</td><td class="col-md-2" >{{ form.symbol.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.totalSupply.label }}</td><td class="col-md-2" >{{ form.totalSupply.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.faceValue.label }}</td><td>{{ form.faceValue.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestRate.label }}</td><td colspan="3">{{ form.interestRate.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate1.label }}</td><td>{{ form.interestPaymentDate1.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate2.label }}</td><td>{{ form.interestPaymentDate2.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate3.label }}</td><td>{{ form.interestPaymentDate3.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate4.label }}</td><td>{{ form.interestPaymentDate4.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate5.label }}</td><td>{{ form.interestPaymentDate5.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate6.label }}</td><td>{{ form.interestPaymentDate6.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate7.label }}</td><td>{{ form.interestPaymentDate7.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate8.label }}</td><td>{{ form.interestPaymentDate8.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate9.label }}</td><td>{{ form.interestPaymentDate9.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate10.label }}</td><td>{{ form.interestPaymentDate10.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate11.label }}</td><td>{{ form.interestPaymentDate11.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.interestPaymentDate12.label }}</td><td>{{ form.interestPaymentDate12.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.redemptionDate.label }}</td><td>{{ form.redemptionDate.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.redemptionAmount.label }}</td><td>{{ form.redemptionAmount.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.returnDate.label }}</td><td>{{ form.returnDate.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.returnAmount.label }}</td><td>{{ form.returnAmount.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.purpose.label }}</td><td>{{ form.purpose.data }}</td>
                        <td style="background-color:#f7f7f7;">{{ form.memo.label }}</td><td>{{ form.memo.data }}</td>
                    </tr>
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.tradableExchange.label }}</td><td style="word-break : break-all" colspan="5">{{ form.tradableExchange.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
