{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "bond_position" %}

{% block title %}債券新規売出 - {% endblock %}
{% block page_header %}新規売出 <span class="badge bg-secondary">債券</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規売出</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ token_name }} <small>{{ token_address }}</small></h3>
                </div>
                <form class="form-horizontal" method="POST" role="form" action="{{ url_for('bond.sell', token_address=form.token_address.data) }}">
                    {{ form.csrf_token }}
                    <div class="box-body">
                        <div class="form-group">
                            <div class="col-md-1"></div>
                            <div class="col-md-8">
                                {{ form.sellPrice.label() }}
                                {{ form.sellPrice(class="form-control", autocomplete="off") }}
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for("bond.positions") }}'">キャンセル</button>
                        <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">売出開始</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="box box-default box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">債券詳細</h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <!-- 名称 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.name.label }}</td>
                        <td style="word-break : break-all" colspan="5" >{{ form.name.data }}</td>
                    </tr>
                    <tr>
                        <!-- 略称 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.symbol.label }}</td>
                        <td colspan="2" >{{ form.symbol.data }}</td>
                        <!-- 総発行量 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.totalSupply.label }}</td>
                        <td colspan="2" >{{ form.totalSupply.data }}</td>
                    </tr>
                    <tr>
                        <!-- 額面 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.faceValue.label }}</td>
                        <td colspan="2">{{ form.faceValue.data }}</td>
                        <!-- 金利 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestRate.label }}</td>
                        <td colspan="2">{{ form.interestRate.data }}</td>
                    </tr>
                    <tr>
                        <!-- 償還日 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.redemptionDate.label }}</td>
                        <td colspan="2">{{ form.redemptionDate.data }}</td>
                        <!-- 償還金額 -->
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.redemptionValue.label }}</td>
                        <td colspan="2">{{ form.redemptionValue.data }}</td>
                    </tr>
                    <!-- 利払日 -->
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate1.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate1.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate2.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate2.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate3.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate3.data }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate4.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate4.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate5.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate5.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate6.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate6.data }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate7.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate7.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate8.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate8.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate9.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate9.data }}</td>
                    </tr>
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate10.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate10.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate11.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate11.data }}</td>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.interestPaymentDate12.label }}</td>
                        <td class="col-md-2">{{ form.interestPaymentDate12.data }}</td>
                    </tr>
                    <!-- リターン実施日 -->
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.returnDate.label }}</td>
                        <td style="word-break : break-all" colspan="5">{{ form.returnDate.data }}</td>
                    </tr>
                    <!-- リターン内容 -->
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.returnAmount.label }}</td>
                        <td style="word-break : break-all" colspan="5">{{ form.returnAmount(class="form-control", disabled=True) }}</td>
                    </tr>
                    <!-- 発行目的 -->
                    <tr>
                        <td class="col-md-2" style="background-color:#f7f7f7;">{{ form.purpose.label }}</td>
                        <td colspan="5">{{ form.purpose(class="form-control", disabled=True) }}</td>
                    </tr>
                    <!-- DEX -->
                    <tr>
                        <td style="background-color:#f7f7f7;">{{ form.tradableExchange.label }}</td>
                        <td style="word-break : break-all" colspan="5">{{ form.tradableExchange.data }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 30000);
  });
</script>
{% endblock %}
