{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "bond_list" %}

{% block title %}詳細設定 - {% endblock %}
{% block page_header %}詳細設定 <span class="badge bg-secondary">BOND</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('bond.list') }}">発行済一覧</a></li>
    <li class="active">詳細設定</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><small>{{ token_address }}</small></h3>
            <div class="pull-right box-tools">
                <!-- 公開/公開済 -->
                {% if is_released %}
                <button class="btn btn-default btn-sm" type="button" style="width: 120px" disabled>公開済</button>
                {% else %}
                <button id="release" class="btn btn-warning btn-sm" type="button" style="width: 120px">公開 <i class="fa fa-exclamation-triangle"></i></button>
                {% endif %}
                <!-- 募集申込開始/停止 -->
                {% if is_redeemed %}
                {% elif initial_offering_status %}
                <button id="stop_initial_offering" type="button" class="btn btn-warning btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中" style="width: 120px">募集申込停止 <i class="fa fa-exclamation-triangle"></i></button>
                {% else %}
                <button id="start_initial_offering" type="button" class="btn btn-success btn-sm" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中" style="width: 120px">募集申込開始</button>
                {% endif %}
                <!-- 償還 -->
                {% if is_redeemed %}
                <button class="btn btn-default btn-sm" type="button" style="width: 120px" disabled>償還済</button>
                {% else %}
                <button id="redeem" class="btn btn-danger btn-sm" type="button" style="width: 120px">償還 <i class="fa fa-exclamation-triangle"></i></button>
                {% endif %}
                <!-- 原簿基本情報登録 -->
                {% if not is_redeemed %}
                <button type="button" class="btn btn-default btn-sm" style="width: 120px" onclick="location.href='{{ url_for('bond.corporate_bond_ledger_template', token_address=token_address)}}'">原簿情報登録 <i class="fa fa-arrow-circle-right"></i></button>
                {% endif %}
            </div>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('bond.setting', token_address=form.token_address.data) }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.name.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.name(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.symbol(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.totalSupply.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.totalSupply(class="form-control comma-separate", disabled=True) }}
                    </div>
                    <!-- 追加発行 -->
                    {% if not is_redeemed %}
                    <button type="button" class="btn btn-default btn-sm" style="width: 120px" onclick="location.href='{{ url_for('bond.add_supply', token_address=token_address)}}'">追加発行 <i class="fa fa-plus-circle"></i></button>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.faceValue.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.faceValue(class="form-control comma-separate",　placeholder="（必須）例：100,000") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestRate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestRate(class="form-control", autocomplete="off", placeholder="（必須）例：0.5") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate1.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate1(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate2.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate2(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate3.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate3(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate4.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate4(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate5.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate5(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate6.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate6(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate7.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate7(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate8.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate8(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate9.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate9(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate10.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate10(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate11.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate11(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.interestPaymentDate12.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.interestPaymentDate12(class="form-control", autocomplete="off", placeholder="MMDD（例：3/31 → 0331）") }}
                    </div>
                </div>

                <div class="form-group">
                    {{ form.redemptionDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.redemptionDate(class="form-control", disabled=True) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.redemptionValue.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.redemptionValue(class="form-control comma-separate",　placeholder="例：100,000") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.returnDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.returnDate(class="form-control", disabled=True) }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.returnDetails.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.returnDetails(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.purpose.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.purpose(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.memo.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.memo(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.transferable.label(class="col-md-2 control-label") }}
                    <div class="col-md-5">
                        {{ form.transferable(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_1(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_2(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_3(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.contact_information.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.contact_information(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.privacy_policy.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.privacy_policy(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.tradableExchange.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.tradableExchange(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.personalInfoAddress.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.personalInfoAddress(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.abi.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.abi(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.bytecode.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.bytecode(class="form-control", disabled=True) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for('bond.list') }}'">キャンセル</button>
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">設定変更</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- モーダルダイアログ -->
<div class="modal" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
    data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="recipient" id="modal-text">modal</p>
            </div>
            <div class="modal-footer">
                <form action="modal-action" id="modal-form" method="POST">
                    <input type="hidden" name="token_address" value="{{ form.token_address.data }}">
                    <button type="button" class="btn btn-default" id="modal-cancel" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-success" id="modal-ok"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">　 OK 　</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- プロンプトダイアログ -->
<div class="modal" id="modal-prompt" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
    data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="modal-action" id="modal-prompt-form" method="POST">
                <input type="hidden" name="token_address" value="{{ form.token_address.data }}">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 id="modal-prompt-title">modal</h4>
                </div>
                <div class="modal-body">
                    <p class="recipient" id="modal-prompt-text">modal</p>
                    <!-- 名称チェック -->
                    <div class="form-group">
                        <input type="text" class="form-control" autocomplete="off" id="prompt-form" name="name" />
                        <input type="text" name="dummy" style="display:none;">
                        <p class="text-danger" id="modal-prompt-validate">名称が一致しません。償還対象のトークンであることを確認してください。</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-prompt-cancel" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-danger" id="modal-prompt-ok" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">　 OK 　</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
      $('#modal-ok').click(function () {
          $('#modal-cancel').prop('disabled', true);
          var $this = $(this);
          $this.parents('form').submit();
          $this.button('loading');
          setTimeout(function () {
              $this.button('reset');
          }, 10000);
      });
      $('#modal-prompt-ok').click(function () {
          $('#modal-prompt-cancel').prop('disabled', true);
          var $this = $(this);
          var name_confirm = $('#prompt-form').val();
          if (name_confirm != null && name_confirm.length > 0) {
              var name = "{{ form.name.data }}"
              if (name === name_confirm) {
                  $this.parents('form').submit();
                  $this.button('loading');
                  setTimeout(function () {
                      $this.button('reset');
                  }, 10000);
              } else {
                  $('#modal-prompt-cancel').prop('disabled', false);
                  $('#modal-prompt-validate').show();
              }
          }
      });
      $('#release').click(function(){
        $('#modal-text').html('この商品をウォレット向けに公開します。よろしいですか？');
        $('#modal-form').attr('action', "{{ url_for('bond.release') }}");
        $('#modal-confirm').modal();
      });
      $('#start_initial_offering').click(function(){
        $("#modal-text").html("この商品の募集申込受付を開始します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('bond.start_initial_offering') }}");
        $('#modal-confirm').modal();
      });
      $('#stop_initial_offering').click(function(){
        $("#modal-text").html("現在この商品は募集申込中です。<br>この商品の募集申込受付を停止します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('bond.stop_initial_offering') }}");
        $('#modal-confirm').modal();
      });
      $('#redeem').click(function(){
        $('#modal-prompt-title').html('償還時確認 <i class="fa fa-exclamation-triangle"></i>');
        $('#modal-prompt-text').html('この操作は元に戻すことができません。<br>念のため、償還を行うトークンの名称を入力してください。');
        $('#modal-prompt-form').attr('action', "{{ url_for('bond.redeem') }}");
        $('#modal-prompt-validate').hide();
        $('#modal-prompt').modal();
      });
  });
  function separateByComma(num) {
        if (!/^[1-9]\d*(\.\d*)?$/.test(num)) {
            return num;
        }
        var split = num.split(".");
        var intPart = split[0].replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
        if (split.length === 2) {
            return intPart + "." + split[1];
        } else {
            return intPart;
        }
  }
  $(function () {
        // 数値項目3桁区切り考慮
        $('.comma-separate').each(function (index, element) {
            // 初期表示
            $(element).val(separateByComma($(element).val()));
            // フォーカスアウト
            $(element).on('blur', function () {
                $(this).val(separateByComma($(this).val()));
            });
            // フォーカス
            $(element).on('focus', function () {
                var num = $(this).val();
                num = num.replace(/,/g, '');
                $(this).val(num);
            });
        });
        $('form').submit(function () {
            $('.comma-separate').each(function (index, element) {
                var num = $(element).val();
                num = num.replace(/,/g, '');
                $(element).val(num);
            });
        })
    });
</script>
{% endblock %}
