{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "account_bank_info" %}

{% block title %}銀行情報登録 - {% endblock %}
{% block page_header %}銀行情報登録{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">銀行情報登録</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-solid">
        <div class="box-header with-border">
            <h3 class="box-title">銀行情報</h3>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('account.bankinfo') }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.name.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.name(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.bank_name.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.bank_name(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.bank_code.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.bank_code(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.branch_name.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.branch_name(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.branch_code.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.branch_code(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.account_type.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.account_type(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.account_number.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.account_number(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.account_holder.label(class="col-md-3") }}
                    <div class="col-md-3">
                        {{ form.account_holder(class="form-control") }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
{% endblock %}
