{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "account_list" %}

{% block title %}アカウント編集 - {% endblock %}
{% block page_header %}アカウント編集{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('account.list') }}">アカウント一覧</a></li>
    <li class="active">アカウント編集</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="row">
        <div class="col-md-9">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ user.user_name }} さん</h3>
                    <div class="pull-right box-tools">
                        <button id="pwdchg" class="btn btn-warning btn-sm" type="button">パスワード初期化 <i class="fa fa-arrow-circle-right"></i></button>
                        {% if current_user.id != user.id  %}
                            <button id="usrdel" class="btn btn-danger btn-sm" type="button">削除 <i class="fa fa-arrow-circle-right"></i></button>
                        {% endif %}
                    </div>
                </div>
                <form class="form-horizontal" method="POST" role="form" action="{{ url_for('account.edit', id=user.id) }}" enctype="multipart/form-data">
                    {{ form.csrf_token }}
                    <div class="box-body">
                        <div class="form-group">
                            {{ form.login_id.label(class="col-md-3 control-label") }}
                            <div class="col-md-6">
                                {{ form.login_id(class="form-control", autocomplete="off") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.user_name.label(class="col-md-3 control-label") }}
                            <div class="col-md-6">
                                {{ form.user_name(class="form-control", autocomplete="off") }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.icon.label(class="col-md-3 control-label") }}
                            <div class="col-md-6">
                                <label class="btn btn-sm btn-success">アイコンを選択...{{ form.icon(style="display: none;") }}</label>
                                <button id="iconreset" type="button" class="btn btn-sm btn-default" disabled>リセット</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div id="preview" class="col-md-6 col-md-offset-3">
                                {% if form.icon.data %}
                                    <img src="data:image/png;base64,{{ form.icon.data | img_convert }}" class="img-circle img-thumbnail" width="75" />
                                {% else %}
                                    <img src="/static/img/user-icon.png" class="img-circle img-thumbnail" width="75" />
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-7 col-md-offset-3">
                            {% if form.icon.data %}
                                <input id="iconclear" type="checkbox" name="iconclear" /> アイコン削除
                            {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form.role.label(class="col-md-3 control-label") }}
                            <div class="col-md-3">
                                {{ form.role(class="form-control") }}
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <!--<button type="button" onclick="history.back()">キャンセル</button>-->
                        <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("account.list") }}'">キャンセル</button>
                        {{ form.submit(class="btn btn-success") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- モーダルダイアログ -->
<div class="modal" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true" data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <p class="recipient" id="modal-text">modal</p>
                <div id="modal-message"></div>
            </div>
            <div class="modal-footer">
                <form action="modal-action" id="modal-form" method="POST">
                    <button type="button" class="btn btn-default" id="modal-cancel" data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-success" id="modal-ok"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">　 OK 　</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- プロンプトダイアログ -->
<div class="modal" id="modal-prompt" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
    data-show="true" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="modal-action" id="modal-prompt-form" method="POST">
                <div class="modal-body">
                    <p class="recipient" id="modal-prompt-text">modal</p>
                    <div class="form-group">
                        <input type=text class="form-control"  autocomplete="off" id="prompt-form" name="login_id" />
                        <p class="text-danger" id="modal-prompt-validate">ログインIDが一致しません。</p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="modal-prompt-cancel"
                        data-dismiss="modal">キャンセル</button>
                    <button type="button" class="btn btn-success" id="modal-prompt-ok"
                        data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">　 OK 　</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function() {
        $('#modal-ok').click(function () {
            $('#modal-cancel').prop('disabled', true);
            var $this = $(this);
            $this.parents('form').submit();
            $this.button('loading');
            setTimeout(function () {
                $this.button('reset');
            }, 10000);
        });
        $('#modal-prompt-ok').click(function () {
            $('#modal-prompt-cancel').prop('disabled', true);
            var $this = $(this);
            var login_id_confirm = $('#prompt-form').val();
            if (login_id_confirm != null && login_id_confirm.length > 0) {
                var login_id = "{{ form.login_id.data }}"
                if (login_id === login_id_confirm) {
                    $this.parents('form').submit();
                    $this.button('loading');
                    setTimeout(function () {
                        $this.button('reset');
                    }, 10000);
                } else {
                    $('#modal-prompt-cancel').prop('disabled', false);
                    $('#modal-prompt-validate').show();
                }
            }
        });
        $('#pwdchg').click(function(){
            $('#modal-text').html('パスワードを初期化します。よろしいですか？');
            $('#modal-form').attr('action', "{{ url_for('account.pwdinit') }}");
            $('#modal-form').append($('<input/>', {'type': 'hidden', 'name': 'id', 'value': {{ user.id }}}));
            $('#modal-confirm').modal();
        });
        $('#usrdel').click(function(){
            $('#modal-prompt-text').html('念のため削除するユーザーのログインIDを入力してください。');
            $('#modal-prompt-form').attr('action', "{{ url_for('account.delete') }}");
            $('#modal-prompt-validate').hide();
            $('#modal-prompt').modal();
        });
        $('#iconreset').click(function(){
            $preview = $("#preview");
            $preview.empty();
            $preview.append($('<img>').attr({
                {% if form.icon.data %}
                    src: "data:image/png;base64,{{ form.icon.data | img_convert }}",
                    class: "img-circle img-thumbnail",
                {% else %}
                    src: "/static/img/user-icon.png",
                    class: "img-circle img-thumbnail",
                {% endif %}
                width: "75"
            }));
            // リセットでformのfile(#icon)フィールドをクリア
            $('#icon').replaceWith($('#icon').clone(true));
            // 下はchrome対策
            $('#icon').val('');
            $("#iconclear").prop("disabled", false);
        });
        $('form').on('change', 'input[type="file"]', function(e) {
            var file = e.target.files[0],
                reader = new FileReader(),
                $preview = $("#preview");
                t = this;

            if(file.type.indexOf("image") < 0){
                return false;
            }

            reader.onload = (function(file) {
                return function(e) {
                    $preview.empty();
                    $preview.append($('<img>').attr({
                        src: e.target.result,
                        class: "img-circle img-thumbnail",
                        width: "75",
                        id: "preview",
                        title: file.name
                    }));
                    $("#iconreset").prop("disabled", false);
                    $("#iconclear").iCheck('uncheck');
                    $("#iconclear").prop("disabled", true);
                };
            })(file);

            reader.readAsDataURL(file);
        });
    });
</script>
{% endblock %}
