{% extends "base.html" %}
{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- pace.js -->
<link rel="stylesheet" href="/static/css/pace.css">
<!-- common.css -->
<link rel="stylesheet" href="/static/css/common.css">
{% endblock %}
{% set active_page = "mrf_list" %}

{% block title %}保有者一覧 - {% endblock %}
{% block page_header %}保有者一覧 <span class="badge bg-secondary">MRF</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
<li><a href="{{ url_for('index.index') }}">トップ</a></li>
<li><a href="{{ url_for('mrf.list') }}">MRF一覧</a></li>
<li class="active">保有者一覧</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title" id="token_name"></h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>アカウントアドレス</th>
                        <th>氏名</th>
                        <th>保有数量</th>
                        <th style="width: 80px"></th>
                        <th style="width: 80px"></th>
                        <th style="width: 80px"></th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("mrf.list") }}'">一覧に戻る</button>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/adminlte/dist/js/demo.js"></script>
<!-- pace.js -->
<script src="/static/js/pace.min.js"></script>
<script>
  token_address = {{ token_address | tojson }};
  token_name_url = '{{ url_for("mrf.get_token_name", token_address=token_address) }}';
  holders_list_url = '{{ url_for("mrf.get_holders", token_address=token_address) }}';
  holder_detail_url_base = '{{ url_for("mrf.holder", token_address=token_address, account_address="account_address") }}';
  token_transfer_url_base = '{{ url_for("mrf.transfer_ownership", token_address=token_address, account_address="account_address") }}';
  token_burn_url_base = '{{ url_for("mrf.burn", token_address=token_address, account_address="account_address") }}';
  $(function () {
    $('#data_table').DataTable({
      columns: [{
        data: 'account_address',
        title: 'アカウントアドレス',
        className: 'tableAddress',
        render: function (data) {
          return '<small>' + data + '</small>'
        }
      }, {
        data: "name",
        orderable: true,
        title: "氏名"
      }, {
        data: "balance",
        orderable: true,
        title: "保有数量"
      }, {
        data: "holder_detail",
        orderable: false,
        className: "text-center",
        render: function (data) {
          return `<a href="${data}" />詳細`;
        }
      }, {
        data: "token_transfer",
        orderable: false,
        className: "text-center",
        render: function (data) {
          return `<button type="button" class="btn btn-success btn-sm" onclick='location.href= "${data}"' />移転`;
        }
      },{
        data: "token_burn",
        orderable: false,
        className: "text-center",
        render: function (data) {
          return `<button type="button" class="btn btn-danger btn-sm" onclick='location.href= "${data}"' />償却`;
        }
      }],
      ajax: {
        url: holders_list_url,
        dataSrc : function (json) {
          returnJson = [];
          for(index in json){
            returnJsonRaw = {
              account_address : json[index]['account_address'] ? json[index]['account_address'] : '--',
              name: json[index]['name'] ? json[index]['name'] : '--',
              balance: json[index]['balance'] ? json[index]['balance'] : '--',
              holder_detail: json[index]['account_address'] ? holder_detail_url_base.replace('account_address', json[index]['account_address']) : '--',
              token_transfer: json[index]['account_address'] ? token_transfer_url_base.replace('account_address', json[index]['account_address']) : '--',
              token_burn: json[index]['account_address'] ? token_burn_url_base.replace('account_address', json[index]['account_address']) : '--',
            };
            returnJson.push(returnJsonRaw)
          }
            return returnJson;
        }
      },
      'paging': true,
      'lengthChange': true,
      'searching': true,
      'info': true,
      'autoWidth': true,
      'pagingType': "full_numbers",
      'language': {
        'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
        'lengthMenu': "表示件数 _MENU_ 件",
        'search': "検索:",
        'paginate': {
          'first': "最初へ",
          'previous': "前へ",
          'next': "次へ",
          'last': "最後へ"
        },
        "emptyTable": "データが存在しません",
        "sInfoEmpty": " 0 件中 0 から 0 まで表示"
      }
    })
  })

    window.onload = function getTokenName() {
      $.ajax({
        type: 'GET',
        url: token_name_url,
        dataType: 'json',
        contentType: 'application/json'
      }).then(function (res) {
        document.getElementById('token_name').innerHTML = res + '　<small>' + token_address + '</small>';
      },
        function () {
          alert('データ取得に失敗しました');
        });
    };
</script>
{% endblock %}
