{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- common.css -->
  <link rel="stylesheet" href="/static/css/common.css">
{% endblock %}
{% set active_page = "coupon_list" %}

{% block title %}クーポン保有者一覧 - {% endblock %}
{% block page_header %}クーポン保有者一覧 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('coupon.list') }}">クーポン一覧</a></li>
    <li class="active">保有者一覧</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <form method="post" action="{{ url_for('coupon.holders_csv_download') }}" enctype="multipart/form-data">
              <h3 class="box-title" id="token_name"></h3>
              <input type="text" name="token_address" style="display:none;" value="{{ token_address }}">
              <div class="pull-right box-tools">
                  <button id="csv_download" type="submit" class="btn btn-default" disabled>保有者リストダウンロード</button>
              </div>
            </form>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("coupon.list") }}'">一覧に戻る</button>
        </div>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
    <div class="box box-widget collapsed-box">
        <div class="box-header with-border">
            <h3 class="box-title">ファイルレイアウト</h3>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
        <div class="box-body">
            <table class="table table-striped table-responsive">
                <thead>
                    <tr>
                        <th>クーポン名</th>
                        <th>クーポンアドレス</th>
                        <th>アカウントアドレス</th>
                        <th>保有数量</th>
                        <th>使用済み数量</th>
                        <th>保有者<br>氏名</th>
                        <th>保有者<br>郵便番号</th>
                        <th>保有者<br>住所</th>
                        <th>保有者<br>メールアドレス</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="word-break : break-all;">ibetクーポン</td>
                        <td style="word-break : break-all;">0xF37aF18966609eCaDe3E4D1831996853c637cfF3</td>
                        <td style="word-break : break-all;">0x0b3c7F97383bCFf942E6b1038a47B9AA5377A252</td>
                        <td style="word-break : break-all;">10</td>
                        <td style="word-break : break-all;">2</td>
                        <td style="word-break : break-all;">アイベット太郎</td>
                        <td style="word-break : break-all;">1000001</td>
                        <td style="word-break : break-all;">東京都千代田区大手町1</td>
                        <td style="word-break : break-all;">ibet@ii.com</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
        </div>
    </div>

</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<script>
token_address = {{ token_address | tojson }};
token_name_url = '{{ url_for("coupon.get_token_name", token_address=token_address) }}';
holders_list_url = '{{ url_for("coupon.get_holders", token_address=token_address) }}';
holder_detail_url_base = '{{ url_for("coupon.holder", token_address=token_address, account_address="account_address") }}';
holder_transfer_url_base = '{{ url_for("coupon.transfer_ownership", token_address=token_address, account_address="account_address") }}';
$(function () {
    $('#data_table').DataTable({
        columns: [{
            data: 'account_address',
            title: 'アカウントアドレス',
            className: 'tableAddress',
            render: function (data) {
            return '<small>' + data + '</small>'
            }
        }, {
            data: "name",
            orderable: true,
            title: "氏名"
        }, {
            data: "balance",
            orderable: true,
            title: "保有数量"
        }, {
            data: "used",
            orderable: true,
            title: "使用済み数量"
        }, {
            data: "holder_detail",
            orderable: false,
            className: "text-center",
            render: function (data) {
            return `<a href="${data}" />詳細`;
            }
        }, {
            data: "token_transfer",
            orderable: false,
            className: "text-center",
            render: function (data) {
            return `<button type="button" class="btn btn-success btn-sm" onclick='location.href= "${data}"' />移転`;
            }
        }],
        ajax: {
            url: holders_list_url,
            dataSrc : function (json) {
            returnJson = [];
            for(index in json){
                returnJsonRaw = {
                account_address : json[index]['account_address'] ? json[index]['account_address'] : '--',
                name: json[index]['name'] ? json[index]['name'] : '--',
                balance: json[index]['balance'] ? json[index]['balance'] : 0,
                used: json[index]['used'] ? json[index]['used'] : 0,
                holder_detail: json[index]['account_address'] ? holder_detail_url_base.replace('account_address', json[index]['account_address']) : '--',
                token_transfer: json[index]['account_address'] ? holder_transfer_url_base.replace('account_address', json[index]['account_address']) : '--'
                };
                returnJson.push(returnJsonRaw)
            }
            if (json) {
                $("#csv_download").prop("disabled", false);
                $("div.overlay").remove();
            }
                return returnJson;
            }
        },
        'paging': true,
        'lengthChange': true,
        'searching': true,
        'info': true,
        'autoWidth': true,
        'pagingType': "full_numbers",
        'language': {
            'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
            'lengthMenu': "表示件数 _MENU_ 件",
            'search': "検索:",
            'paginate': {
            'first': "最初へ",
            'previous': "前へ",
            'next': "次へ",
            'last': "最後へ"
            },
            "emptyTable": "データが存在しません",
            "sInfoEmpty": " 0 件中 0 から 0 まで表示"
        }
    })
})
window.onload = function getTokenName() {
    $.ajax({
        type: 'GET',
        url: token_name_url,
        dataType: 'json',
        contentType: 'application/json'
    }).then(function (res) {
        document.getElementById('token_name').innerHTML = res + '　<small>' + token_address + '</small>';
    },
    function () {
        alert('データ取得に失敗しました');
    });
};
setTimeout(function(){
    $('div.overlay').remove();
},1000);
</script>
{% endblock %}
