{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "coupon_issue" %}

{% block title %}クーポン発行 - {% endblock %}
{% block page_header %}クーポン発行 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">クーポン発行</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">クーポン発行</h3>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('coupon.issue') }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.name.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.name(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：ibet割引券", title=form_description['name'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.symbol(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：ICP", title=form_description['symbol'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.totalSupply.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.totalSupply(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：100000", title=form_description['totalSupply'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.details.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.details(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：ibetで使える割引券です。", title=form_description['details'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.return_details.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.return_details(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：このクーポンを使うと、100円が割り引かれます。", title=form_description['return_details'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.memo.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.memo(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['memo'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.expirationDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.expirationDate(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：20201231", title=form_description['expirationDate'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.transferable.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.transferable(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['transferable'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.tradableExchange.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.tradableExchange(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：0x123456789A123456789B123456789C123456789D", title=form_description['tradableExchange'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_1(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image_1.png", title=form_description['image_1'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_2(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image_2.png", title=form_description['image_2'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_3(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right",placeholder="例：http://image_3.png", title=form_description['image_3'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.contact_information.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.contact_information(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['contact_information'] )}}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.privacy_policy.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.privacy_policy(class="form-control", autocomplete="off", data_toggle="tooltip", data_container="body", data_placement="right", title=form_description['privacy_policy'] )}}
                    </div>
                </div>
            </div>
            <div class="box-footer">
              <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("coupon.list") }}'">キャンセル</button>
              <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">新規発行</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript" src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
  $.fn.datepicker.dates['ja'] = {
      days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
      daysShort: ["日", "月", "火", "水", "木", "金", "土"],
      daysMin: ["日", "月", "火", "水", "木", "金", "土"],
      months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      today: "今日",
      clear: "Clear",
      format: "yyyy/mm/dd",
      titleFormat: "yyyy年 MM",
      weekStart: 0
  };
  //Date picker
  $('[id="datepicker"]').datepicker({
      language: 'ja',
      format: 'yyyymmdd',
      todayHighlight: true,
      autoclose: true,
      orientation: "bottom right",
      todayBtn: true
  });
</script>
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
