{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "coupon_list" %}

{% block title %}クーポン一覧 - {% endblock %}
{% block page_header %}クーポン一覧 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">クーポン一覧</li>
{% endblock %}

{% block page_content %}
<section class="content">
  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title">クーポン一覧</h3>
    </div>
    <div class="box-body">
  	  <table id="data_table" class="table table-bordered table-hover">
  		<thead>
  		  <tr>
            <th width="17%">名称</th>
            <th width="7%">略称</th>
            <th width="16%">登録日時</th>
            <th width="25%">アドレス</th>
            <th width="7%">取扱</th>
            <th width="7%"></th>
            <th width="7%"></th>
            <th width="7%"></th>
            <th width="7%"></th>
          </tr>
  		</thead>
  		<tbody>
  		{% for token in tokens %}
        <tr>
          {% if token.token_address != None %}
          <td style="word-break : break-all;">
            <a href="{{ url_for('coupon.setting', token_address=token.token_address) }}">{{ token.name }}</a>
          </td>
          {% else %}
          <td align="center"><i class="fa fa-refresh fa-spin"></i></td>
          {% endif %}
          <td>{{ token.symbol }}</td>
          <td align="center"><small>{{ token.created }}</small></td>
          {% if token.token_address != None %}
          <td style="word-break : break-all;"><small>{{ token.token_address }}</small></td>
          {% else %}
          <td>-</td>
          {% endif %}
          {% if token.status == true %}
          <td align="center"><span class="badge bg-green">取扱中</span></td>
          {% elif token.status == false %}
          <td align="center"><span class="badge">停止中</span></td>
          {% else %}
          <td align="center">{{ token.status }}</td>
          {% endif %}
          {% if token.token_address != None %}
          <td align="center"><a href="{{ url_for('coupon.token_tracker', token_address=token.token_address) }}">追跡</a></td>
          {% else %}
          <td></td>
          {% endif %}
          {% if token.token_address != None %}
          <td align="center">
            <a href="{{ url_for('coupon.usage_history', token_address=token.token_address) }}">利用履歴</a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
          {% if token.token_address != None %}
          <td align="center">
            <a href="{{ url_for('coupon.applications', token_address=token.token_address) }}">募集申込</a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
          {% if token.token_address != None %}
          <td align="center">
            <a href="{{ url_for('coupon.holders', token_address=token.token_address) }}">保有者</a>
          </td>
          {% else %}
          <td></td>
          {% endif %}
        </tr>
  		{% endfor %}
  		</tbody>
      </table>
  	</div>
  </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'order': [ [ 2, "desc" ] ],
      'info'        : true,
      'autoWidth'   : true,
      'pagingType': "full_numbers",
      'language': {
          'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
          'lengthMenu': "表示件数 _MENU_ 件",
          'search': "検索:",
          'paginate': {
              'first': "最初へ",
              'previous': "前へ",
              'next': "次へ",
              'last': "最後へ",
          },
          "emptyTable": "データが存在しません",
          "sInfoEmpty":	" 0 件中 0 から 0 まで表示"
      },
    })
  })
</script>
{% endblock %}
