{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "coupon_list" %}

{% block title %}クーポン詳細設定 - {% endblock %}
{% block page_header %}詳細設定 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('coupon.list') }}">クーポン一覧</a></li>
    <li class="active">クーポン詳細設定</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><small>{{ token_address }}</small></h3>
            <div class="pull-right box-tools">
              <!-- 公開/公開済 -->
                {% if isReleased %}
                    <button class="btn btn-default btn-sm" type="button" style="width: 120px" disabled>
                      公開済
                    </button>
                {% else %}
                    <button
                      id="release"
                      class="btn btn-warning btn-sm" type="button"
                      data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中"
                      style="width: 120px">
                      公開 <i class="fa fa-exclamation-triangle"></i>
                    </button>
                {% endif %}

              <!-- 募集申込開始/停止 -->
                {% if initial_offering_status %}
                  <button
                    id="stop_initial_offering"
                    type="button" class="btn btn-danger btn-sm"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中"
                    style="width: 120px">
                    募集申込停止 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% else %}
                  <button
                    id="start_initial_offering"
                    type="button" class="btn btn-success btn-sm"
                    data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中"
                    style="width: 120px">
                    募集申込開始 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% endif %}

              <!-- 取扱開始/停止 -->
                {% if status %}
                    <button
                      id="invalid"
                      type="button" class="btn btn-danger btn-sm"
                      data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中"
                      style="width: 120px">
                      クーポン無効化 <i class="fa fa-exclamation-triangle"></i>
                    </button>
                {% else %}
                    <button
                      id="valid"
                      type="button" class="btn btn-success btn-sm"
                      data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中"
                      style="width: 120px">
                      クーポン有効化 <i class="fa fa-exclamation-triangle"></i>
                    </button>
                {% endif %}

              <!-- 追加発行 -->
                <button
                  type="button" class="btn btn-default btn-sm" style="width: 120px"
                  onclick="location.href='{{ url_for("coupon.add_supply", token_address=token_address)}}'">
                  追加発行 <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('coupon.setting', token_address=form.token_address.data) }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.name.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.name(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.symbol(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.totalSupply.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.totalSupply(class="form-control comma-separate", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.details.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.details(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.return_details.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.return_details(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.memo.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.memo(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.expirationDate.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.expirationDate(class="form-control pull-right", id="datepicker", autocomplete="off") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.transferable.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        {{ form.transferable(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.tradableExchange.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.tradableExchange(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_1(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_2(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.image_3(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.contact_information.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.contact_information(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.privacy_policy.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.privacy_policy(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.abi.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.abi(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.bytecode.label(class="col-md-2 control-label") }}
                    <div class="col-md-8">
                        {{ form.bytecode(class="form-control", disabled=True) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for("coupon.list") }}'">キャンセル</button>
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">設定変更</button>
            </div>
        </form>
    </div>

</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- モーダルダイアログ -->
<div class="modal" id="modal-confirm" tabindex="-1" role="dialog" aria-labelledby="staticModalLabel" aria-hidden="true"
  data-show="true" data-keyboard="false" data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p class="recipient" id="modal-text">modal</p>
      </div>
      <div class="modal-footer">
        <form action="modal-action" id="modal-form" method="POST">
          <input type="hidden" name="token_address" value="{{ form.token_address.data }}">
          <button type="button" class="btn btn-default" id="modal-cancel" data-dismiss="modal">キャンセル</button>
          <button type="button" class="btn btn-success" id="modal-ok"
            data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">　 OK 　</button>
        </form>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript" src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $.fn.datepicker.dates['ja'] = {
        days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
        daysShort: ["日", "月", "火", "水", "木", "金", "土"],
        daysMin: ["日", "月", "火", "水", "木", "金", "土"],
        months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        today: "今日",
        clear: "Clear",
        format: "yyyy/mm/dd",
        titleFormat: "yyyy年 MM",
        weekStart: 0
    };
    //Date picker
    $('[id="datepicker"]').datepicker({
        language: 'ja',
        format: 'yyyymmdd',
        todayHighlight: true,
        autoclose: true,
        orientation: "bottom right",
        todayBtn: true
    });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#modal-ok').click(function () {
        $("#modal-cancel").prop("disabled", true);
        var $this = $(this);
        $this.parents('form').submit();
        $this.button('loading');
        setTimeout(function () {
          $this.button('reset');
        }, 10000);
      });
      $('#release').click(function(){
        $("#modal-text").html("このクーポンをウォレット向けに公開します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('coupon.release') }}");
        $('#modal-confirm').modal();
      });
      $('#invalid').click(function(){
        $("#modal-text").html("このクーポンを無効化します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('coupon.invalid') }}");
        $('#modal-confirm').modal();
      });
      $('#valid').click(function(){
        $("#modal-text").html("このクーポンを有効化します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('coupon.valid') }}");
        $('#modal-confirm').modal();
      });
      $('#start_initial_offering').click(function(){
        $("#modal-text").html("この商品の募集申込受付を開始します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('coupon.start_initial_offering') }}");
        $('#modal-confirm').modal();
      });
      $('#stop_initial_offering').click(function(){
        $("#modal-text").html("現在この商品は募集申込中です。<br>この商品の募集申込受付を停止します。よろしいですか？");
        $('#modal-form').attr('action', "{{ url_for('coupon.stop_initial_offering') }}");
        $('#modal-confirm').modal();
      });
  });
  $(function () {
        // 数値項目3桁区切り考慮
        $('.comma-separate').each(function (index, element) {
            var num = $(element).val();
            if (!isNaN(num) && num >= 1) {
                num = num.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
            }
            $(element).val(num);
            // フォーカスアウト
            $(element).on('blur', function () {
                var num = $(this).val();
                if (!isNaN(num) && num >= 1) {
                    num = num.replace(/(\d)(?=(\d{3})+(?!\d))/g, '$1,');
                }
                $(this).val(num);
            });
            // フォーカス
            $(element).on('focus', function () {
                var num = $(this).val();
                num = num.replace(/,/g, '');
                $(this).val(num);
            });
        });
        $('form').submit(function () {
            $('.comma-separate').each(function (index, element) {
                var num = $(element).val();
                num = num.replace(/,/g, '');
                $(element).val(num);
            });
        })
    });
</script>
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
