{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "coupon_list" %}

{% block title %}トークン追跡 - {% endblock %}
{% block page_header %}トークン追跡 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('coupon.list') }}">クーポン一覧</a></li>
    <li class="active">追跡</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <form method="post" action="{{ url_for('coupon.token_tracker_csv') }}" enctype="multipart/form-data">
                <h3 class="box-title"><small>{{ token_address }}</small></h3>
                <input type="text" name="token_address" style="display:none;" value="{{ token_address }}">
                <div class="pull-right box-tools">
                    <button type="button" class="btn btn-default btn-sm" style="width: 120px" onclick="location.href='{{ url_for('coupon.list') }}'">戻る</button>
                    <button id="csv_download" type="submit" class="btn btn-success btn-sm" style="width: 120px">ダウンロード</button>
                </div>
            </form>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>タイムスタンプ</th>
                        <th>TX</th>
                        <th>FROM</th>
                        <th>TO</th>
                        <th>数量</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in track %}
                    <tr>
                        <td>{{ item.block_timestamp }}</td>
                        <td align="center"><button type="button" class="btn btn-default btn-sm" onclick="viewTxHash('{{item.transaction_hash}}')">表示</button></td>
                        <td style="word-break : break-all;">{{ item.account_address_from }}</td>
                        <td style="word-break : break-all;">{{ item.account_address_to }}</td>
                        <td>{{ item.transfer_amount }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- モーダルダイアログ -->
<div class="modal modal-default fade" id="modal-txhash" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">トランザクション</h4>
            </div>
            <div class="modal-body" id="modal-txhash-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<script>
  $(function () {
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pagingType': "full_numbers",
      'language': {
          'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
          'lengthMenu': "表示件数 _MENU_ 件",
          'search': "検索:",
          'paginate': {
              'first': "最初へ",
              'previous': "前へ",
              'next': "次へ",
              'last': "最後へ",
          },
          "emptyTable": "データが存在しません",
          "sInfoEmpty": " 0 件中 0 から 0 まで表示"
      },
    })
  })
  function viewTxHash(txhash) {
    $('#modal-txhash-body').html(txhash);
    $('#modal-txhash').modal('show');
  }
</script>
{% endblock %}
