{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "coupon_transfer" %}

{% block title %}クーポン割当 - {% endblock %}
{% block page_header %}クーポン割当 <span class="badge bg-secondary">クーポン</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">クーポン割当</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">クーポン割当</h3>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('coupon.transfer') }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.token_address.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" data-toggle="tooltip" title="{{ form_description['token_address'] }}" name="thename"></i>
                            </div>
                            {{ form.token_address(class="form-control", autocomplete="off") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.to_address.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" data-toggle="tooltip" title="{{ form_description['to_address'] }}" name="thename"></i>
                            </div>
                            {{ form.to_address(class="form-control", autocomplete="off") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.amount.label(class="col-md-2 control-label") }}
                    <div class="col-md-4">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-info" data-toggle="tooltip" title="{{ form_description['amount'] }}" name="thename"></i>
                            </div>
                            {{ form.amount(class="form-control", autocomplete="off") }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">割当</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
