{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "membership_list" %}

{% block title %}トークン割当 - {% endblock %}
{% block page_header %}割当（募集申込） <span class="badge bg-secondary">MEMBERSHIP</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('membership.list') }}">発行済一覧</a></li>
    <li class="active">トークン割当</li>
{% endblock %}

{% block page_content %}
<section class="content">
  <div class="box box-default">
    <div class="box-header with-border">
      <h3 class="box-title">トークン割当</h3>
    </div>
    <form class="form-horizontal" method="POST" role="form" action="{{ url_for('membership.allocate', token_address=token_address, account_address=account_address) }}">
      {{ form.csrf_token }}
      <div class="box-body">
        <div class="form-group">
          {{ form.token_address.label(class="col-md-2 control-label") }}
          <div class="col-md-5">
            {{ form.token_address(class="form-control", disabled=True) }}
          </div>
        </div>
        <div class="form-group">
          {{ form.to_address.label(class="col-md-2 control-label") }}
          <div class="col-md-5">
            {{ form.to_address(class="form-control", disabled=True) }}
          </div>
        </div>
        <div class="form-group">
          {{ form.amount.label(class="col-md-2 control-label") }}
          <div class="col-md-5">
            {{ form.amount(class="form-control", autocomplete="off") }}
          </div>
        </div>
      </div>
      <div class="box-footer">
        <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("membership.applications", token_address=token_address) }}'">戻る</button>
        <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">割当</button>
      </div>
    </form>
  </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
{% endblock %}
