{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "membership_list" %}

{% block title %}会員権一覧 - {% endblock %}
{% block page_header %}会員権一覧{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">会員権一覧</li>
{% endblock %}

{% block page_content %}
<section class="content">
  <div class="box box-default">
    <div class="box-header">
      <h3 class="box-title">会員権一覧</h3>
    </div>
    <div class="box-body">
  	  <table id="data_table" class="table table-bordered table-hover">
  		<thead>
  		  <tr>
    			<th>名称</th>
    			<th>略称</th>
    			<th>登録日時</th>
          <th>アドレス</th>
          <th>受付ID</th>
          <th style="width: 70px">取扱</th>
          <th></th>
    		</tr>
  		</thead>
  		<tbody>
  		{% for token in tokens %}
        <tr>
          {% if token.token_address != None %}
    			  <td style="word-break : break-all; width: 400px;"><a href="{{ url_for('membership.setting', token_address=token.token_address) }}">{{ token.name }}</a></td>
          {% else %}
            <td>{{ token.name }}</td>
          {% endif %}
          <td>{{ token.symbol }}</td>
    			<td>{{ token.created | format_date }}</td>
          {% if token.token_address != None %}
            <td style="word-break : break-all;"><small>{{ token.token_address }}</small></td>
          {% else %}
            <td>-</td>
          {% endif %}
          <td align="center">
            <button type="button" class="btn btn-default btn-sm" onclick="viewTxHash('{{token.tx_hash}}')">表示</button>
          </td>
          {% if token.status == true %}
            <td align="center"><span class="badge bg-green">取扱中</span></td>
          {% elif token.status == false %}
            <td align="center"><span class="badge bg-red">取扱停止</span></td>
          {% else %}
            <td align="center">{{ token.status }}</td>
          {% endif %}
          {% if token.token_address != None %}
      			<td align="center"><a href="{{ url_for('membership.holders', token_address=token.token_address) }}">保有者一覧</a></td>
          {% else %}
            <td></td>
          {% endif %}
        </tr>
  		{% endfor %}
  		</tbody>
  	    </table>
  	</div>
  </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<div class="modal modal-default fade" id="modal-txhash" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">受付ID</h4>
      </div>
      <div class="modal-body" id="modal-txhash-body">
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/adminlte/dist/js/demo.js"></script>
<script>
  $(function () {
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pagingType': "full_numbers",
      'language': {
          'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
          'lengthMenu': "表示件数 _MENU_ 件",
          'search': "検索:",
          'paginate': {
              'first': "最初へ",
              'previous': "前へ",
              'next': "次へ",
              'last': "最後へ",
          },
          "emptyTable": "データが存在しません",
          "sInfoEmpty":	" 0 件中 0 から 0 まで表示"
      },
    })
  })

  function viewTxHash(txhash) {
    $('#modal-txhash-body').html(txhash);
    $('#modal-txhash').modal('show');
  }
</script>

{% endblock %}
