{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "membership_position" %}

{% block title %}売出管理 - {% endblock %}
{% block page_header %}売出管理 <span class="badge bg-secondary">会員権</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">売出管理</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title">会員権一覧</h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th width="35%">名称</th>
                    <th width="10%">総発行量</th>
                    <th width="10%">未売出</th>
                    <th width="10%">売出中</th>
                    <th width="10%">売出価格</th>
                    <th width="15%">調達額</th>
                    <th width="10%"></th>
                </tr>
                </thead>
                <tbody>
                {% for position in position_list %}
                <tr>
                    <td style="word-break : break-all;">
                        {{ position.name }}
                        <br>
                        <small style="color: #999999;">{{ position.token_address }}</small>
                    </td>
                    <td>{{ "{:,}".format(position.total_supply) }}</td>
                    <td>{{ "{:,}".format(position.balance) }}</td>
                    <td>{{ "{:,}".format(position.commitment) }}</td>
                    {% if position.order_price == None %}
                    <td>--</td>
                    {% else %}
                    <td>{{ "{:,}".format(position.order_price) }} 円</td>
                    {% endif %}
                    <td align="right">{{ "{:,}".format(position.fundraise) }} 円</td>
                    {% if position.on_sale != True %}
                    <td align="center"><button type="button" class="btn btn-success btn-sm" onclick="location.href= '{{ url_for("membership.sell", token_address=position.token_address) }}'">売出開始</button></td>
                    {% else %}
                    <td align="center"><button type="button" class="btn btn-danger btn-sm" onclick="location.href= '{{ url_for("membership.cancel_order", token_address=position.token_address, order_id=position.order_id) }}'">売出停止</button></td>
                    {% endif %}
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/adminlte/dist/js/demo.js"></script>
<script>
  $(function () {
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true,
      'pagingType': "full_numbers",
      'language': {
          'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
          'lengthMenu': "表示件数 _MENU_ 件",
          'search': "検索:",
          'paginate': {
              'first': "最初へ",
              'previous': "前へ",
              'next': "次へ",
              'last': "最後へ",
          },
          "emptyTable": "データが存在しません",
          "sInfoEmpty":	" 0 件中 0 から 0 まで表示"
      },
    })
  })
</script>
{% endblock %}
