{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "membership_list" %}

{% block title %}会員権詳細設定 - {% endblock %}
{% block page_header %}詳細設定 <span class="badge bg-secondary">会員権</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li><a href="{{ url_for('membership.list') }}">会員権一覧</a></li>
    <li class="active">会員権詳細設定</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title"><small>{{ token_address }}</small></h3>
            <div class="pull-right box-tools">
              <!-- 公開/公開済 -->
                {% if isRelease %}
                  <button class="btn btn-gray btn-sm" type="button" style="width: 120px" disabled>
                    公開済
                  </button>
                {% else %}
                  <button
                    id="release"
                    class="btn btn-warning btn-sm" type="button" style="width: 120px">
                    公開 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% endif %}

              <!-- 募集申込開始/停止 -->
                {% if initial_offering_status %}
                  <button
                    id="stop_initial_offering"
                    type="button" class="btn btn-danger btn-sm" style="width: 120px">
                    募集申込停止 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% else %}
                  <button
                    id="start_initial_offering"
                    type="button" class="btn btn-success btn-sm" style="width: 120px">
                    募集申込開始 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% endif %}

              <!-- 取扱開始/停止 -->
                {% if status %}
                  <button
                    id="invalid"
                    type="button" class="btn btn-danger btn-sm" style="width: 120px">
                    取扱停止 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% else %}
                  <button
                    id="valid"
                    type="button" class="btn btn-success btn-sm" style="width: 120px">
                    取扱開始 <i class="fa fa-exclamation-triangle"></i>
                  </button>
                {% endif %}

              <!-- 追加発行 -->
                <button
                  type="button" class="btn btn-success btn-sm" style="width: 120px"
                  onclick="location.href='{{ url_for("membership.add_supply", token_address=token_address)}}'">
                  追加発行 <i class="fa fa-arrow-circle-right"></i>
                </button>
            </div>
        </div>
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('membership.setting', token_address=form.token_address.data) }}">
            {{ form.csrf_token }}
            <div class="box-body">
                <div class="form-group">
                    {{ form.name.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.name(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.symbol.label(class="col-md-2") }}
                    <div class="col-md-4">
                        {{ form.symbol(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.totalSupply.label(class="col-md-2") }}
                    <div class="col-md-4">
                        {{ form.totalSupply(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.details.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.details(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.returnDetails.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.returnDetails(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.expirationDate.label(class="col-md-2") }}
                    <div class="col-md-4">
                        <div class="input-group date">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>
                            {{ form.expirationDate(class="form-control pull-right", id="datepicker", autocomplete="off") }}
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    {{ form.transferable.label(class="col-md-2") }}
                    <div class="col-md-4">
                        {{ form.transferable(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.memo.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.memo(class="form-control") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.tradableExchange.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.tradableExchange(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_1.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.image_1(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_2.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.image_2(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.image_3.label(class="col-md-2") }}
                    <div class="col-md-8">
                        {{ form.image_3(class="form-control", autocomplete="off") }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.abi.label(class="col-md-2") }}
                    <div class="col-md-10">
                        {{ form.abi(class="form-control", disabled=True) }}
                    </div>
                </div>
                <div class="form-group">
                    {{ form.bytecode.label(class="col-md-2") }}
                    <div class="col-md-10">
                        {{ form.bytecode(class="form-control", disabled=True) }}
                    </div>
                </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for("membership.list") }}'">キャンセル</button>
                <button type="submit" class="btn btn-success" id="load" data-loading-text="<i class='fa fa-spinner fa-spin '></i> 処理中">設定変更</button>
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript" src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
    $.fn.datepicker.dates['ja'] = {
        days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
        daysShort: ["日", "月", "火", "水", "木", "金", "土"],
        daysMin: ["日", "月", "火", "水", "木", "金", "土"],
        months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
        today: "今日",
        clear: "Clear",
        format: "yyyy/mm/dd",
        titleFormat: "yyyy年 MM",
        weekStart: 0
    };
    //Date picker
    $('[id="datepicker"]').datepicker({
        language: 'ja',
        format: 'yyyymmdd',
        todayHighlight: true,
        autoclose: true,
        orientation: "bottom right",
        todayBtn: true
    });
</script>
<script type="text/javascript">
  $(document).ready(function() {
      $('#release').click(function(){
          if (confirm('この会員権をウォレット向けに公開します。よろしいですか？')) {
              var $form = $('<form/>',
                  {'action': "{{ url_for('membership.release') }}", 'method': 'POST'}
              );
              $form.append($('<input/>',
                  {'type': 'hidden', 'name': 'token_address', 'value': '{{ form.token_address.data }}'}
              ));
              $form.appendTo(document.body);
              $form.submit();
          } else {
              return false;
          }
      });
      $('#invalid').click(function(){
          if (confirm('この商品を取扱停止します。よろしいですか？')) {
              var $form = $('<form/>',
                  {'action': "{{ url_for('membership.invalid') }}", 'method': 'POST'}
              );
              $form.append($('<input/>',
                  {'type': 'hidden', 'name': 'token_address', 'value': '{{ form.token_address.data }}'}
              ));
              $form.appendTo(document.body);
              $form.submit();
          } else {
              return false;
          }
      });
      $('#valid').click(function(){
          if (confirm('この商品の取扱を再開します。よろしいですか？')) {
              var $form = $('<form/>',
                  {'action': "{{ url_for('membership.valid') }}", 'method': 'POST'}
              );
              $form.append($('<input/>',
                  {'type': 'hidden', 'name': 'token_address', 'value': '{{ form.token_address.data }}'}
              ));
              $form.appendTo(document.body);
              $form.submit();
          } else {
              return false;
          }
      });
      $('#start_initial_offering').click(function(){
          if (confirm('この商品の募集申込受付を開始します。よろしいですか？')) {
              var $form = $('<form/>',
                  {'action': "{{ url_for('membership.start_initial_offering') }}", 'method': 'POST'}
              );
              $form.append($('<input/>',
                  {'type': 'hidden', 'name': 'token_address', 'value': '{{ form.token_address.data }}'}
              ));
              $form.appendTo(document.body);
              $form.submit();
          } else {
              return false;
          }
      });
      $('#stop_initial_offering').click(function(){
          if (confirm('現在この商品は募集申込中です。\nこの商品の募集申込受付を停止します。よろしいですか？')) {
              var $form = $('<form/>',
                  {'action': "{{ url_for('membership.stop_initial_offering') }}", 'method': 'POST'}
              );
              $form.append($('<input/>',
                  {'type': 'hidden', 'name': 'token_address', 'value': '{{ form.token_address.data }}'}
              ));
              $form.appendTo(document.body);
              $form.submit();
          } else {
              return false;
          }
      });
  });
</script>
<script type="text/javascript">
  $('#load.btn').on('click', function() {
    var $this = $(this);
    $this.button('loading');
    setTimeout(function() {
      $this.button('reset');
    }, 8000);
  });
</script>
{% endblock %}
