{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "token_issue" %}

{% block title %}債券新規発行 - {% endblock %}
{% block page_header %}債券新規発行{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規発行</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-primary">
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('token.issue') }}">
            {{ form.csrf_token }}
            <div class="box-header">
              <h3 class="box-title">発行条件</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                  {{ form.name.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.name(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.symbol.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.symbol(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.totalSupply.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.totalSupply(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.faceValue.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.faceValue(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.interestRate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.interestRate(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.interestPaymentDate1.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.interestPaymentDate1(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.interestPaymentDate2.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.interestPaymentDate2(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.redemptionDate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.redemptionDate(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.redemptionAmount.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.redemptionAmount(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.returnDate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.returnDate(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.returnAmount.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.returnAmount(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.purpose.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.purpose(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.image_small.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.image_small(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.image_medium.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.image_medium(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.image_large.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.image_large(class="form-control") }}
                  </div>
              </div>
            </div>
            <div class="box-footer">
                <!--<button type="button" onclick="history.back()">キャンセル</button>-->
                <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("token.list") }}'">キャンセル</button>
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
{% endblock %}
