{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "token_issue" %}

{% block title %}債券新規発行 - {% endblock %}
{% block page_header %}債券新規発行{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規発行</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <form class="form-horizontal" method="POST" role="form" action="{{ url_for('token.issue') }}">
            {{ form.csrf_token }}
            <div class="box-header">
              <h3 class="box-title">発行条件</h3>
            </div>
            <div class="box-body">
              <div class="form-group">
                  {{ form.name.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.name(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.symbol.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.symbol(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.totalSupply.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.totalSupply(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.faceValue.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.faceValue(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.interestRate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.interestRate(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                {% for paydate in form.interestPaymentDate %}
                    {{ paydate.label(class="col-md-2") }}
                    <div class="col-md-2">
                        {{ paydate(class="form-control", placeholder="MMDD（例： 3/31 → 0331）") }}
                    </div>
                {% endfor %}
              </div>
              <div class="form-group">
                  {{ form.interestPaymentDate2.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.interestPaymentDate2(class="form-control", placeholder="MMDD（例： 9/30 → 0930）") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.redemptionDate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      <div class="input-group date">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          {{ form.redemptionDate(class="form-control pull-right", id="datepicker") }}
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  {{ form.redemptionAmount.label(class="col-md-2") }}
                  <div class="col-md-4">
                      {{ form.redemptionAmount(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.returnDate.label(class="col-md-2") }}
                  <div class="col-md-4">
                      <div class="input-group date">
                          <div class="input-group-addon">
                              <i class="fa fa-calendar"></i>
                          </div>
                          {{ form.returnDate(class="form-control pull-right", id="datepicker") }}
                      </div>
                  </div>
              </div>
              <div class="form-group">
                  {{ form.returnAmount.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.returnAmount(class="form-control") }}
                  </div>
              </div>
              <div class="form-group">
                  {{ form.purpose.label(class="col-md-2") }}
                  <div class="col-md-8">
                      {{ form.purpose(class="form-control") }}
                  </div>
              </div>
            </div>
            <div class="box-footer">
                <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("token.list") }}'">キャンセル</button>
                {{ form.submit(class="btn btn-success") }}
            </div>
        </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<script type="text/javascript" src="/static/adminlte/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap-timepicker.min.js"></script>
<script type="text/javascript">
  $.fn.datepicker.dates['ja'] = {
      days: ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"],
      daysShort: ["日", "月", "火", "水", "木", "金", "土"],
      daysMin: ["日", "月", "火", "水", "木", "金", "土"],
      months: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      monthsShort: ["1月", "2月", "3月", "4月", "5月", "6月", "7月", "8月", "9月", "10月", "11月", "12月"],
      today: "今日",
      clear: "Clear",
      format: "yyyy/mm/dd",
      titleFormat: "yyyy年 MM",
      weekStart: 0
  };
  //Date picker
  $('[id="datepicker"]').datepicker({
      language: 'ja',
      format: 'yyyymmdd',
      todayHighlight: true,
      autoclose: true,
      orientation: "bottom right",
      todayBtn: true
  });
</script>
{% endblock %}
