{% extends "base.html" %}
{% block head %}
  {{ super() }}
  <!-- DataTables -->
  <link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
{% endblock %}
{% set active_page = "token_position" %}

{% block title %}債券新規募集 - {% endblock %}
{% block page_header %}新規募集{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
    <li class="active">債券新規募集</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header with-border">
            <h3 class="box-title">募集</h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td>{{ form.name.label }}</td><td>{{ form.name.data }}</td>
                        <td>{{ form.symbol.label }}</td><td>{{ form.symbol.data }}</td>
                        <td>{{ form.totalSupply.label }}</td><td>{{ form.totalSupply.data }}</td>
                        <td>{{ form.faceValue.label }}</td><td>{{ form.faceValue.data }}</td>
                        <td>{{ form.interestRate.label }}</td><td>{{ form.interestRate.data }}</td>
                        {% if form.interestPaymentDate1.data != '' %}
                            <td>{{ form.interestPaymentDate1.label }}</td><td>{{ form.interestPaymentDate1.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate2.data != '' %}
                            <td>{{ form.interestPaymentDate2.label }}</td><td>{{ form.interestPaymentDate2.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate3.data != '' %}
                            <td>{{ form.interestPaymentDate3.label }}</td><td>{{ form.interestPaymentDate3.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate4.data != '' %}
                            <td>{{ form.interestPaymentDate4.label }}</td><td>{{ form.interestPaymentDate4.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate5.data != '' %}
                            <td>{{ form.interestPaymentDate5.label }}</td><td>{{ form.interestPaymentDate5.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate6.data != '' %}
                            <td>{{ form.interestPaymentDate6.label }}</td><td>{{ form.interestPaymentDate6.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate7.data != '' %}
                            <td>{{ form.interestPaymentDate7.label }}</td><td>{{ form.interestPaymentDate7.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate8.data != '' %}
                            <td>{{ form.interestPaymentDate8.label }}</td><td>{{ form.interestPaymentDate8.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate9.data != '' %}
                            <td>{{ form.interestPaymentDate9.label }}</td><td>{{ form.interestPaymentDate9.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate10.data != '' %}
                            <td>{{ form.interestPaymentDate10.label }}</td><td>{{ form.interestPaymentDate10.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate11.data != '' %}
                            <td>{{ form.interestPaymentDate11.label }}</td><td>{{ form.interestPaymentDate11.data }}</td>
                        {% endif %}
                        {% if form.interestPaymentDate12.data != '' %}
                            <td>{{ form.interestPaymentDate12.label }}</td><td>{{ form.interestPaymentDate12.data }}</td>
                        {% endif %}
                        <td>{{ form.redemptionDate.label }}</td><td>{{ form.redemptionDate.data }}</td>
                        <td>{{ form.redemptionAmount.label }}</td><td>{{ form.redemptionAmount.data }}</td>
                        <td>{{ form.returnDate.label }}</td><td>{{ form.returnDate.data }}</td>
                        <td>{{ form.returnAmount.label }}</td><td>{{ form.returnAmount.data }}</td>
                        <td>{{ form.purpose.label }}</td><td>{{ form.purpose.data }}</td>
                    </tr>
                </tbody>
            </table>
            <form class="form-horizontal" method="POST" role="form" action="{{ url_for('token.sell', token_address=form.token_address.data) }}">
                {{ form.csrf_token }}
                <div class="form-group">
                    {{ form.sellPrice.label(class="col-md-2") }}
                    <div class="col-md-4">
                        {{ form.sellPrice(class="form-control") }}
                    </div>
                </div>
                <br>
                </div>
                <div class="box-footer">
                    <button type="button" class="btn btn-default" onclick="location.href= '{{ url_for("token.positions") }}'">キャンセル</button>
                    {{ form.submit(class="btn btn-success") }}
                </div>
            </form>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
{% endblock %}
