{% extends "base.html" %}
{% block head %}
{{ super() }}
<!-- DataTables -->
<link rel="stylesheet" href="/static/adminlte/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
<!-- pace.js -->
<link rel="stylesheet" href="/static/css/pace.css">
{% endblock %}
{% set active_page = "jdr_list" %}

{% block title %}保有者一覧 - {% endblock %}
{% block page_header %}保有者一覧 <span class="badge bg-secondary">預託証券</span>{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
<li><a href="{{ url_for('index.index') }}">トップ</a></li>
<li><a href="{{ url_for('jdr.list') }}">預託証券一覧</a></li>
<li class="active">保有者一覧</li>
{% endblock %}

{% block page_content %}
<section class="content">
    <div class="box box-default">
        <div class="box-header">
            <h3 class="box-title" id="token_name"></h3>
        </div>
        <div class="box-body">
            <table id="data_table" class="table table-bordered table-hover">
                <thead>
                <tr>
                    <th>アカウントアドレス</th>
                    <th>氏名</th>
                    <th>保有数量</th>
                    <th style="width: 80px"></th>
                    <th style="width: 80px"></th>
                    <th style="width: 80px"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <button type="button" class="btn btn-default" onclick="location.href='{{ url_for("jdr.list") }}'">一覧に戻る</button>
        </div>
    </div>
</section>
{% endblock %}

{% block required_js %}
{{ super() }}
<!-- DataTables -->
<script src="/static/adminlte/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/adminlte/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
<!-- SlimScroll -->
<script src="/static/adminlte/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->
<script src="/static/adminlte/bower_components/fastclick/lib/fastclick.js"></script>
<!-- AdminLTE for demo purposes -->
<script src="/static/adminlte/dist/js/demo.js"></script>
<!-- pace.js -->
<script src="/static/js/pace.min.js"></script>
<script>
  token_address = {{ token_address | tojson }};
  holders_list_url = '{{ url_for("jdr.get_holders", token_address=token_address) }}';
  holder_detail_url_base = '{{ url_for("jdr.holder", token_address=token_address, account_address="account_address") }}';
  holder_transfer_url_base = '{{ url_for("jdr.transfer_ownership", token_address=token_address, account_address="account_address") }}';
  holder_burn_url_base = '{{ url_for("jdr.burn", token_address=token_address, account_address="account_address") }}';
  $(function () {
    $('#data_table').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : false,
      'info'        : true,
      'autoWidth'   : true,
      'pagingType': "full_numbers",
      'language': {
          'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
          'lengthMenu': "表示件数 _MENU_ 件",
          'search': "検索:",
          'paginate': {
              'first': "最初へ",
              'previous': "前へ",
              'next': "次へ",
              'last': "最後へ",
          },
          "emptyTable": "データを読み込んでいます...",
          "sInfoEmpty":	" 0 件中 0 から 0 まで表示"
      },
    })
  })

  window.onload = function getHolderList() {
    $.ajax({
      type: 'GET',
      url: holders_list_url,
      dataType: 'json',
      contentType: 'application/json'
    }).then(function (res) {
      document.getElementById('token_name').innerHTML = res.token_name + '　<small>' + token_address + '</small>';
      if (res && res.holders.length !== 0) {
        $.each(res.holders, function () {
          holder_detail_url = holder_detail_url_base.replace('account_address', this.account_address);
          holder_transfer_url = holder_transfer_url_base.replace('account_address', this.account_address);
          holder_burn_url = holder_burn_url_base.replace('account_address', this.account_address);
          $('.table').dataTable().fnAddData([
            this.account_address ? this.account_address : '--',
            this.name ? this.name : '--',
            this.balance ? this.balance : '--',
            '詳細',
            '移転',
            '償却'
          ]);
          $($("tbody>tr:last>td:eq(3)")).attr('align', 'center');
          $($('tbody>tr:last>td:eq(3)')).wrapInner(`<a href="${holder_detail_url}" />`);
          $($("tbody>tr:last>td:eq(4)")).attr('align', 'center');
          $($("tbody>tr:last>td:eq(4)")).wrapInner(`<button type="button" class="btn btn-success btn-sm" onclick='location.href= "${holder_transfer_url}"' />`);
          $($("tbody>tr:last>td:eq(5)")).attr('align', 'center');
          $($("tbody>tr:last>td:eq(5)")).wrapInner(`<button type="button" class="btn btn-danger btn-sm" onclick='location.href= "${holder_burn_url}"' />`);
        });
      } else if (res && res.holders.length === 0) {
        $(function () {
          $('#data_table').DataTable().clear().destroy();
          $('#data_table').DataTable({
            'paging': true,
            'lengthChange': true,
            'searching': true,
            'ordering': false,
            'info': true,
            'autoWidth': true,
            'pagingType': "full_numbers",
            'language': {
              'info': "_TOTAL_ 件中 _START_ 〜 _END_ 件目",
              'lengthMenu': "表示件数 _MENU_ 件",
              'search': "検索:",
              'paginate': {
                'first': "最初へ",
                'previous': "前へ",
                'next': "次へ",
                'last': "最後へ",
              },
              "emptyTable": "データが存在しません",
              "sInfoEmpty": " 0 件中 0 から 0 まで表示"
            },
          })
        })
      } else {
        alert('データ取得に失敗しました');
      }
    },
      function () {
        alert('データ取得に失敗しました');
      });
  };
</script>
{% endblock %}
