{% extends "base.html" %}

{% block title %}Internal Server Error{% endblock %}

{% block page_header %}Internal Server Error{% endblock %}
{% block page_description %}500 Error{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
{% endblock %}

{% block page_content %}
<!-- content-header -->
<section class="content">
  <div class="alert alert-danger">
    <h4>エラー</h4>
    <p>システムエラーが発生しました。管理者にお問い合わせください。</p>
  </div>
</section><!-- /.content -->
{% endblock %}