{% extends "base.html" %}

{% block title %}トップ - {% endblock %}
{% block page_header %}トップメニュー{% endblock %}
{% block page_description %}{% endblock %}
{% block breadcrumb %}
    <li><a href="{{ url_for('index.index') }}">トップ</a></li>
{% endblock %}

{% block page_content %}
    <section class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="box box-solid">
                    <!-- /.box-header -->
                    <div class="box-body">
                      <h4>システムの説明</h4>
                      <br>
                      <p>・発行体企業が自社でノードを建てて、自社のノードから金融商品を発行するためのブラウザアプリです。</p>
                      <p>・発行体企業はこのアプリから、金融商品の新規発行と、発行済金融商品に対する各種業務オペレーション（償還処理、保有者名簿抽出など）を実施します。</p>
                      <p>・債券発行管理メニューから債券の新規発行が可能です。ibet標準の普通社債フォーマット（ibetStraightBond）が登録されています。</p>
                      <p>・アカウント管理のメニューからこのシステムで利用するアカウントの管理を行うことができます。</p>
                      <p>・アカウント作成のタイミングでEthereumの秘密鍵を生成するべきだと思いますが、現状は実装されていません。※Quorum化のタイミングで実装予定。</p>
                      <p>・また現状はホットウォレットの状態になっていますので、さらなるセキュリティ対策は必要な状態です。</p>
                    </div>
                    <!-- /.box-body -->
                </div>
            </div>
        </div>
    </section>
{% endblock %}
